@page
@model FormacaoRazor.Pages.FormacoesColaboradorPages.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <!-- iCheck for checkboxes and radio inputs -->
    <link href="~/AdminLte3/plugins/icheck-bootstrap/icheck-bootstrap.min.css" rel="stylesheet" />
}
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm12">
        <div class="card card-orange">
            <div class="card-header">
                <h3 class="card-title">Criar</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Fechar">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remover">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <form method="post" class="form-horizontal">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group row">
                        <label asp-for="FormacaoColaborador.FormacaoId" class="col-sm-2 control-label"></label>
                        <div class="col-sm-2">
                            <select id="FormacaoCod" asp-for="FormacaoColaborador.FormacaoId" class="form-control"
                                    asp-items="ViewBag.FormacaoCod" name="FormacaoCod"></select>
                        </div>
                        <div class="col-sm-8">
                            <select id="FormacaoNome" asp-for="FormacaoId2" class="form-control"
                                    asp-items="ViewBag.FormacaoNome"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="FormacaoColaborador.ColaboradorId" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <select id="ColaboradorId" asp-for="FormacaoColaborador.ColaboradorId" class="form-control"
                                    asp-items="ViewBag.ColaboradorId" name="ColaboradorId"></select>
                            <span asp-validation-for="FormacaoColaborador.ColaboradorId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="FormacaoColaborador.FormacaoData" class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">
                            <input type="text" asp-for="FormacaoColaborador.FormacaoData" class="form-control" name="FormacaoData" />
                            <span asp-validation-for="FormacaoColaborador.FormacaoData" class="text-danger"></span>
                        </div>
                        <div class="col-sm-1"></div>
                        <div class="icheck-primary d-inline col-sm-5">
                            <input type="checkbox" id="chkRefreshRequired" asp-for="FormacaoColaborador.RefreshRequired" checked>
                            <label for="chkRefreshRequired">
                                Obrigatória?
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Gravar" class="btn btn-primary" />
                    &nbsp;|&nbsp;<a href="javascript:history.go(-1)" class="btn btn-default">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script>
        $(function () {
            $('input[name="FormacaoData"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: false,
                minYear: 2019,
                maxYear: parseInt(moment().format('YYYY'), 10),
                "locale": {
                    "format": "DD/MM/YYYY",
                    "daysOfWeek": [
                        "Dom",
                        "Seg",
                        "Ter",
                        "Qua",
                        "Qui",
                        "Sex",
                        "Sab"
                    ],
                    "monthNames": [
                        "Janeiro",
                        "Fevereiro",
                        "Março",
                        "Abril",
                        "Maio",
                        "Junho",
                        "Julho",
                        "Agosto",
                        "Setembro",
                        "Outubro",
                        "Novembro",
                        "Dezembro"
                    ],
                    "firstDay": 1
                }
            });
        });
    </script>

    <script>
        $(document).ready(function () {
            $("#FormacaoNome").val($("#FormacaoCod").val());
        });
        $(function () {
            $("#FormacaoCod").on("change", function () {
                $("#FormacaoNome").val($(this).val());
            });
            $("#FormacaoNome").on("change", function () {
                $("#FormacaoCod").val($(this).val());
            });
        });
    </script>
}