@page
@model FormacaoRazor.Pages.MarcacoesPages.CopyModel

@{
    ViewData["Title"] = "Edit";
}

@section Styles {
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
}
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm12">
        <div class="card card-orange">
            <div class="card-header">
                <h3 class="card-title">Criar Marcação</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Fechar">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remover">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <form method="post" class="form-horizontal">
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Marcacao.MarcacaoID" />
                    <div class="form-group row">
                        <label asp-for="Marcacao.UhId" class="col-sm-2 control-label"></label>
                        <div class="col-sm-2">
                            <select asp-for="Marcacao.UhId" class="form-control" asp-items="ViewBag.UhId"></select>
                        </div>
                        <label class="col-sm-2 control-label">Sala</label>
                        <div class="col-sm-6">
                            <select asp-for="Marcacao.SalaId" class="form-control" asp-items="ViewBag.SalaId"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Marcacao.FormacaoId" class="col-sm-2 control-label"></label>
                        <div class="col-sm-2">
                            <select id="FormacaoCod" asp-for="Marcacao.FormacaoId" class="form-control" asp-items="ViewBag.FormacaoCod"></select>
                        </div>
                        <div class="col-sm-8">
                            <select id="FormacaoNome" asp-for="FormacaoId2" class="form-control" asp-items="ViewBag.FormacaoNome"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Marcacao.FormadorID" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <select asp-for="Marcacao.FormadorID" class="form-control" asp-items="ViewBag.FormadorID"></select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Marcacao.DataInicio" class="col-sm-2 control-label"></label>
                        <div class="col-sm-4">
                            <input type="text" asp-for="Marcacao.DataInicio" name="Marcacao-DataInicio" class="form-control" />
                            <span asp-validation-for="Marcacao.DataInicio" class="text-danger"></span>
                        </div>
                        <label asp-for="Duracao" class="col-sm-2 control-label">Duração (dias)</label>
                        <div class="col-sm-4">
                            <input asp-for="Duracao" name="Duracao" class="form-control" />
                            <span asp-validation-for="Duracao" class="text-danger"></span>
                        </div>
                        @*<label asp-for="Marcacao.DataFim" class="col-sm-2 control-label"></label>
                            <div class="col-sm-4">
                                <input type="text" asp-for="Marcacao.DataFim" name="Marcacao-DataFim" class="form-control" />
                                <span asp-validation-for="Marcacao.DataFim" class="text-danger"></span>
                            </div>*@
                    </div>
                    <div class="form-group row">
                        <div class="custom-control custom-radio col-sm-4">
                            <input class="custom-control-input" type="radio" id="radioTodoDia" name="customRadio" checked="" value="TodoDia">
                            <label for="radioTodoDia" class="custom-control-label">Todo o dia</label>
                        </div>
                        <div class="custom-control custom-radio col-sm-4">
                            <input class="custom-control-input" type="radio" id="radioManha" name="customRadio" value="Manha">
                            <label for="radioManha" class="custom-control-label">Manhã</label>
                        </div>
                        <div class="custom-control custom-radio col-sm-4">
                            <input class="custom-control-input" type="radio" id="radioTarde" name="customRadio" value="Tarde">
                            <label for="radioTarde" class="custom-control-label">Tarde</label>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Marcacao.Observacoes" class="col-sm-2 control-label"></label>
                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" asp-for="Marcacao.Observacoes"></textarea>
                            <span asp-validation-for="Marcacao.Observacoes" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <input type="submit" value="Gravar" class="btn btn-primary" />
                    &nbsp;|&nbsp;<a href="javascript:history.go(-1)" class="btn btn-default">Voltar</a>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script>
        $(function () {
            $('input[name="Marcacao-DataFim"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: false,
                minYear: 2019,
                maxYear: parseInt(moment().format('YYYY'), 10),
                "locale": {
                    "format": "DD/MM/YYYY",
                    "daysOfWeek": [
                        "Dom",
                        "Seg",
                        "Ter",
                        "Qua",
                        "Qui",
                        "Sex",
                        "Sab"
                    ],
                    "monthNames": [
                        "Janeiro",
                        "Fevereiro",
                        "Março",
                        "Abril",
                        "Maio",
                        "Junho",
                        "Julho",
                        "Agosto",
                        "Setembro",
                        "Outubro",
                        "Novembro",
                        "Dezembro"
                    ],
                    "firstDay": 1
                }
            });
        });
    </script>

    <script>
        $(function () {
            $('input[name="Marcacao-DataInicio"]').daterangepicker({
                singleDatePicker: true,
                showDropdowns: false,
                minYear: 2019,
                maxYear: parseInt(moment().format('YYYY'), 10),
                "locale": {
                    "format": "DD/MM/YYYY",
                    "daysOfWeek": [
                        "Dom",
                        "Seg",
                        "Ter",
                        "Qua",
                        "Qui",
                        "Sex",
                        "Sab"
                    ],
                    "monthNames": [
                        "Janeiro",
                        "Fevereiro",
                        "Março",
                        "Abril",
                        "Maio",
                        "Junho",
                        "Julho",
                        "Agosto",
                        "Setembro",
                        "Outubro",
                        "Novembro",
                        "Dezembro"
                    ],
                    "firstDay": 1
                }
            });
        });
    </script>

    <script>
        $(function () {
            $("#FormacaoCod").on("change", function () {
                $("#FormacaoNome").val($(this).val());
            });
            $("#FormacaoNome").on("change", function () {
                $("#FormacaoCod").val($(this).val());
            });
        });
    </script>
}