@page
@model LogoutModel
@{
    Layout = "~/Areas/Identity/Pages/Shared/_LoginLayout.cshtml";
    ViewData["Title"] = "Centro de formação";
}

    <h1>@ViewData["Title"]</h1>
    <p>Deslogou-se da aplicação com sucesso.</p>
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login" title="Admin">Entrar</a>