.field-validation-error {
    color: crimson;
    font-weight: bold;
    font-size: large;
}
.input-validation-error {
    border: 2px solid red;    
}
.validation-summary-errors {
    color: crimson;
    font-weight: bold;
    font-size: large;
}